@import "./login.css";
@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../../node_modules/toastify-js/src/toastify.css";
@import "./leftbar.css";
@import "./table.css";
@import "./cadastro.css";
@import "./transferenciaVagas.css";
@import "../../node_modules/datatables.net-bs5/css/dataTables.bootstrap5.min.css";

body {
    min-height: 100vh;
}

:root {
    --main-color-bg: rgb(35, 31, 32);
    --main-color-bg2: rgb(3, 78, 162);
}

.dt-search {
    display: none;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.red {
    color: red;
}

.content {
    margin-left: 270px;
}

.no-select {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Standard */
}
