.plus {
    color: green;
    cursor: pointer;
}
.minus {
    color: red;
    cursor: pointer;
}

.disabled {
    color: gray !important;
    cursor: default !important;
}

table#destino tr td {
    cursor: pointer;
}
